
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@using System.Security.Claims

<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

}
else
{
    <h4>Please login</h4>
}
