#landing {
    background: url('/img/SkarbekFamily.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#landing-page {
    padding: 40px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.image-links {
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
#projects-body {
    background: url('/img/FarmKitchen.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.projects{
    text-align: center;
    font-family: 'Ravi Prakash', cursive;
    padding-top: 25px;
    text-shadow: 2px 2px 2px black;
}
#projects-heading {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
}
#projects-page {
    padding: 40px;
    font-family: 'Ravi Prakash', cursive;
    text-align: center;
    text-shadow: 1px 1px 1px 1px gray;
}
#contact-body {
    background: url('/img/PriestLake.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contact-heading, h2 {
    text-align: center;
    font-size: 50px;
}
#contact-page {
    padding: 40px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.contact-info{
    padding: 25px;
}
#about-body {
    background: url('/img/FamilyPortrait.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#about-heading, h2 {
    text-align: center;
    font-size: 50px;
}
#about-page {
    padding: 40px;
    font-family: 'Inknut Antiqua', serif;
    text-shadow: 2px 2px 2px black;
}
.picture {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 
.picture:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
#picture {
    display: block;
    margin: auto;
    width: 90%;
}
.picture {
  position: relative;
  width: 450px;
}
.picture img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
.picture p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

li {
    padding: 10px;
}
#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
}
#header #nav li a {
    text-decoration: none;
    color: #FFF;
    line-height: 70px;
    text-transform: uppercase;
}

.info {
    background-color: rgba(220, 229, 242, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Inknut Antiqua', serif;
    margin-top: 10px;
}

.bg-faded {
    background-color: rgba(220, 229, 242, 0.8);
}
body {
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(220, 229, 242, 0.8);
  text-align: center;
  font-family: 'Lemonada', cursive;
}
a {
    padding: 8px;
}
#nav-id {
    font-family: 'Abril Fatface', cursive;
}
.links {
    text-transform: uppercase;
}