#projects-body {
    background: url('/img/IMG_5592.JPG') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#about-body {
    background: url('/img/FamilyPortrait.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#landing {
    background: url('/img/Skarbek_2016-9.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#about-heading, h2 {
    text-align: center;
    font-size: 50px;
}
li {
    padding: 10px;
}
#logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
}
#header #nav li a {
    text-decoration: none;
    color: #FFF;
    line-height: 70px;
    text-transform: uppercase;
}
.projects{
    text-align: center;
    font-family: 'Ravi Prakash', cursive;
    padding-top: 25px;
}
#projects-heading {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    font-family: 'Ravi Prakash', cursive;
}
.info {
    background-color: rgba(220, 229, 242, 0.8);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Inknut Antiqua', serif;
    margin-top: 10px;
}
.picture {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
} 
.picture:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
#picture {
    display: block;
    margin: auto;
    width: 90%;
}
.picture {
  position: relative;
  width: 450px;
}
.picture img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
.picture p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}
#about-page {
    padding: 40px;
    font-family: 'Inknut Antiqua', serif;
}
.bg-faded {
    background-color: rgba(220, 229, 242, 0.8);
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(220, 229, 242, 0.8);
  text-align: center;
  font-family: 'Lemonada', cursive;
}
a {
    padding: 8px;
}
#nav-id {
    font-family: 'Abril Fatface', cursive;
}
.links {
    text-transform: uppercase;
    right: 0;
    bottom: 0;
    left: 0;
}