@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Me";
}
<body id="about-body">
   <div class="container">
    <div class="row">
        <p id="about-heading">About Me:</p>
        <p>
            I am currently a junior level program developer studying at Epicodus code school in Seattle. At Epicodus, I learned C# with .NET framework and JavaScript with Angular. I am open to learning any language and enjoy the challenge it provides. I love programming because of the challenges it presents and the different solutions there can be so solving them.
        </p>
    </div>
    <div class="row">

    </div>
   </div>
</body>
