@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Me";
}

<body id="contact-body">
    <div class="container info" id="contact-page">
        <div class="row" id="contact-heading">
            <h2>Contact Information:</h2>
        </div>
        <hr />
        <div class="row contact-info">
            <h3>Phone:</h3>
            <h4>760-885-9444</h4>
        </div>
        <div class="row contact-info">
            <h3>Email:</h3>
            <h4>koryskarbek@gmail.com</h4>
        </div>
        <div class="row contact-info">
            <h3>LinkedIn:</h3>
            <h4><a href="https://www.linkedin.com/in/koryskarbek/">My Profile</a></h4>
        </div>
        <div class="row contact-info">
            <h3>GitHub:</h3>
            <h4><a href="https://github.com/skarski10">My Profile</a></h4>
        </div>
    </div>
</body>