@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Me";
}
<body id="landing">
    <div class="container info" id="landing-page">
        <div class="row" id="landing-heading">
            <h1>Kory Skarbek</h1>            
        </div>
        <div class="row" id="landing-sub-heading">
            <h3>Junior Web Developer</h3>
        </div>
        <div class="row" id="image-links">
            <div class="col-md-4">
                <a href="https://www.linkedin.com/in/koryskarbek/"><img class="image-links" src="~/img/linkedin.png" /></a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/skarski10"><img class="image-links" src="~/img/github.png" /></a>
            </div>
            <div class="col-md-4">
                <a href="https://docs.google.com/document/d/1muGLMXrUbaLsSUBhCkRNxR7cfU6f5qghsPCrNvZgrTc/edit?usp=sharing"><img class="image-links" src="~/img/resume.png" /></a>
            </div>                
        </div>
    </div>
</body>
