@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}
@model IEnumerable<Portfolio.Models.Project>

@foreach (var project in Model)
{
    if (project.stargazers_count > 0)
    {
        <div class="projects">
            <h3>@project.name</h3>
            <h5><a href=@project.html_url>@project.html_url</a></h5>
        </div>

    }

}